/* Ordem alfabética */

#container {
	margin-left: 10%;
	min-height: 100%;
	position: relative;
	width: 80%;
}

#conteudo {
	margin-top: 5px;
}

html, body {
	height: 97%;
	background-color: SkyBlue;
}

* html #container {
	height: 100%; /* hack para IE6 que trata height como min-height */
}

.home_destque_programacao {
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid;
    float: left;
    margin-top: 5px;
    min-height: 380px;
    padding: 10px;
    width: 50%;
}

.home_destque_video {
    background-color: white;
    border: 1px solid;
    border-radius: 10px 10px 10px 10px;
    float: right;
    margin-top: 5px;
    min-height: 240px;
    padding: 10px;
    width: 45%;
}

.home_login {
    background-color: white;
    border: 1px solid;
    border-radius: 10px 10px 10px 10px;
    float: right;
    margin-top: 5px;
    min-height: 113px;
    padding: 10px;
    width: 45%;
}

.home_logos {
	/*
    background-color: white;
    border: 1px solid;
    border-radius: 10px 10px 10px 10px;
    clear: left;
    margin-top: 5px;
    min-height: 80px;
    padding: 10px;*/
    
    background-color: white;
    border: 1px solid;
    border-radius: 10px 10px 10px 10px;
    margin-top: 5px;
    padding: 10px;
    text-align: center;    
}

.home_usuario {
    background-color: white;
    border: 1px solid;
    border-radius: 10px 10px 10px 10px;
    float: left;
    margin-top: 5px;
    min-height: 80px;
    padding: 10px;
}

#menu_canais {
    background-color: white;
    border: 1px solid;
    border-radius: 10px 10px 10px 10px;
    margin-top: 5px;
    padding: 10px;
    text-align: center;
}

#menu_superior {
    background-color: white;
    border: 1px solid;
    border-radius: 10px 10px 10px 10px;
    margin-top: 5px;
    padding: 10px;
    text-align: center;
}

#menu_usuario {
    background-color: white;
    border: 1px solid;
    border-radius: 10px 10px 10px 10px;
    margin-top: 5px;
    padding: 10px;
    text-align: center;
}

#rodape {
    bottom: 0;
    clear: left;
    margin-top: 5px;
    margin-left: 10%;
    position: relative;
    width: 80%;	
}